@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establecer el mínimo alto del cuerpo como 100% de la ventana gráfica */
    margin: 0; /* Eliminar el margen predeterminado del cuerpo */
}

.navbarPrincipal {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 800ms ease;
    margin: auto;
}

.navbarPrincipal .img-logo {
    width: 80px;
}

.navbarPrincipal .menu-icon {
    color: #ffe100;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}


.navbarPrincipal ul li {
    padding: 5px 15px;
    margin: 10px 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbarPrincipal ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
}

.navbarPrincipal ul li a:before,
.navbarPrincipal ul li a:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: #ffe100;
    transition: all 450ms ease;
}

.navbarPrincipal ul li a:hover:before,
.navbarPrincipal ul li a:hover:after {
    width: 100%;
}

.navbarPrincipal button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin: 7px;
    padding: 6px 11px 7px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    transition: all 600ms ease;
}

.navbarPrincipal button:hover {
    background-color: #ffe100;
    color: #000000;
}

.navbarPrincipal button svg {
    margin: 0 5px 0 2px;
    font-size: 10px;
}

.navbarPrincipal button svg::before,
.navbarPrincipal button svg::after {
    color: #ffffff;
}

.navbarPrincipal button svg:hover::before,
.navbarPrincipal button svg:hover::after {
    color: #000000;
}

.main {
    margin: 0;
    width: 100%;
    height: 600px;
    flex: 1;
}

.img-fondo {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    object-fit: cover;
}

.container {
    font-family: 'Manjari', sans-serif;
    font-weight: 700;
}


.textPrincipal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
    text-align: justify;
    justify-content: center;
    margin-bottom: 40px;
}

.textPrincipal .centro {
    color: #eaff00;
    font-weight: 700;
    font-size: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    padding: 50px 0 0 0;
    margin-left: -25px;
    text-shadow: 3px 3px 6px #000000;
}

.textPrincipal .centro:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    transition: all 0.5s ease;
}

.textPrincipal .centro:hover::after {
    width: 42%;
    background: #000000;
    margin: px auto;
}


.textPrincipal p {
    grid-column: 1;
    grid-row: 2/3; 
    margin: 2%;
    padding: 10px;
}


.textPrincipal img {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.textSecundario {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 100px auto;
    text-align: justify;
    justify-content: center;
}

.textSecundario .centro-1 {
    display: inline-block;
    color: #eaff00;
    font-size: 40px;
    font-weight: 700;
    text-align:center;
    padding: 50px 0 0 0;
    text-shadow: 3px 3px 6px #000000;
}

.textSecundario .centro-1:after {
    content: "";
    display: flex;
    margin: auto;
    height: 3px;
    width: 0;
    transition: all 0.5s ease;
}

.textSecundario .centro-1:hover::after {
    width: 27%;
    background: #000000;
    margin: p auto;
}


.textSecundario  p {
    grid-column: 2;
    grid-row: 2/3; 
    padding: 20px;
    margin: auto;
}

.textSecundario button{
    grid-column: 2/3;
    grid-row: 3;
    width: 95%;
    height:50%; 
    margin: 0 16px;
    background-color: #eaff00;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #000000;
}

.textSecundario button:hover{
    background-color: #000000;
    color: #ffffff;
    transition: all 0.3s ease;
}

.textSecundario img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px 10px;
    border-radius: 20px;
}


.footer {
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: center;
    width: 100%;
    height: 200px auto;
    margin-top: 20px;
    padding: 30px;
    background-color: #000000;
}

.info h1{
    color: #fff700;
    font-weight: 700;
}

.info p{
    color: #ffffff;
    font-weight: 900;
}

.info svg{
    color: #ffffff;
    font-weight: 900;
    width: 8%;
    height: 6%;
    margin: 8px;
}

.redesSociales h1{
    color: #fff700;
    font-weight: 700;
}

.redesSociales p{
    color: #ffffff;
    font-weight: 900;
    padding: 10px;
}

.redesSociales svg{
    color: #ffffff;
    width: 10%;
    height: 20%;
    margin: 15px 10px;
} 

.redesSociales .whtp:hover{
    color: #43892b;
}


.redesSociales .face:hover{
    color: #09099a;
}

.redesSociales .inst:hover{
    color: #8a1ba1;
}

.horarios h1{
    color: #fff700;
    font-weight: 700;
}

.horarios p{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 900;
}


@media(max-width: 1000px) {

    .navbarPrincipal a:not(.menu-icon),
    .navbarPrincipal button:not(.menu-icon) {
        display: none;
    }

    .navbarPrincipal.show-menu a,
    .navbarPrincipal.show-menu button {
        display: block;
    }

    .navbarPrincipal.show-menu button{
        margin-left: -32px;
        width: 200px;
    }

    .navbarPrincipal.show-menu {
        flex-direction: column;
        align-items: center;

    }

    .navbarPrincipal a,
    .navbarPrincipal button {
        width: auto; 
    }

    .textPrincipal {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: -55px;
    }
    
    .textPrincipal .centro {
        color: #eaff00;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        padding: 50px 20PX 0 20px;
        margin: 0 7px 0 1px; 
        text-shadow: 3px 3px 6px #000000;
    
    }
       
    .textPrincipal p {
        margin: 2%;
        padding: 10px;
    }
    
    
    .textPrincipal img {
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    
    .textSecundario {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: -55px;
    }
    
    .textSecundario .centro {
        color: #eaff00;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        padding: 50px 20PX 0 20px;
        margin: 0 7px 0 1px; 
        text-shadow: 3px 3px 6px #000000;
    
    }
       
    .textSecundario p {
        margin: 2%;
        padding: 10px;
    }
    
    
    .textSecundario img {
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    .textSecundario button{
        width: 94.7%;
        height:5%; 
        margin: 0 16px;
        padding: 5px;
        background-color: #eaff00;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
        border: 2px solid #000000;
    }   

}

@media(max-width: 800px){
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: top;
        text-align: center;
        width: 100%;
        height: 200px auto;
        margin-top: 20px;
        padding: 30px;
        background-color: #000000;
    }

    .info {
        margin-bottom: 45px;
    }

    .redesSociales{
        margin-bottom: 45px;
    }

    .redesSociales svg{
        color: #ffffff;
        width: 10%;
        height: 15%;
        margin: 15px 10px;
    } 

    .horarios p{
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1001px) {
    .navbarPrincipal .menu-icon {
        display: none;
    }
}